//
Copyright (c) $today.year, Venugopal Durshetty. All rights reserved.

This is unpublished proprietary source code of Venugopal Durshetty.
The copyright notice above does not evidence any actual or intended
publication of such source code.
//